@using CRUD_MVC___Portifolio
@using CRUD_MVC___Portifolio.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home";
}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="~/css/Home.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<div class="container-fluid text-center">
    <h1>Seja bem vindo ao site da NexTech!</h1>
    <br />
    <h3>Você deseja: </h3>
    <br />
    <br />
    <div class="row align-items-center">
        <div class="col-6">
            <h4>Acessar o Client Manager:</h4>
            <p>Acesse agora e comece a cadastrar seus clientes de forma prática!</p>
            <a role="button" class="btn btn-primary" asp-controller="Login" asp-action="Index">Acessar</a>
        </div>
        <div class="col-6">
            <h4>Ver informações sobre o site:</h4>
            <p>Gostaria de saber mais sobre o criador do site? Acesse a página "Quem somos" e descubra mais sobre o criador</p>
            <a role="button" class="btn btn-primary" asp-controller="QuemSomos" asp-action="Index">Quem Somos</a>
        </div>
    </div>
</div>



