@{
    ViewData["Title"] = "Quem Somos";
}

<link rel="stylesheet" href="~/css/QuemSomos.css" />

<div class="container-fluid">
    <div class="row">
        <div class="col-6 text-right">
            <img src="~/img/printcodigo.png" class="blur-img" />
        </div>
        <div class="col-6">
            <h1>Quem somos</h1>
            <br />
            <p>A empresa NexTech é uma empresa fictícia, criada para servir como Portifólio para este site em MVC.</p>
            <p>Atualmente estou cursando Análise e desenvolvimento de Sistemas,e este website é desenvolvido em ASP.NET MVC.</p>
            <p>Você pode conferir meus outros trabalhos no meu <a href="https://github.com/ElderCrivelari">GitHub</a> ou acessar o meu <a href="https://www.linkedin.com/in/eldercrivelariteixeira/">Linkedin</a></p>
        </div>
    </div>
</div>